.root
	display flex
	justify-content space-between
	padding 72px
	background-color: $colors.black
	color: $colors.white

	h2
		font-weight normal
		font-size 20px

.weather
	display flex
	margin-top 32px

	&-temp
		font-size 20px
		font-family: $Oranienbaum
		margin-left 24px

	&-cond
		font-size 10px
		text-transform uppercase
		margin-left 8px

.item
	display flex
	flex-direction column
	margin-top 25px

	&-description
		font-size 10px
		text-transform uppercase
		margin-top 25px

	&-social
		margin-top 32px
		& > a + a
			margin-left 22px

	&-telephones
		display flex
		flex-direction column
		margin-top 32px
		& > span + span
			margin-top 10px

	&-nav
		display flex
		flex-direction column
		text-transform uppercase
		margin-top 32px
		a
			color: $colors.white
			padding-left 20px
			position relative
			& + a
				margin-top 10px
			&:before
				content: ''
				width 4px
				height 0
				position absolute
				left 0
				top 0
				background-color: $colors.white
				transition .2s linear

			&:hover
			&.-active
				&:before
					height 100%
