.GalleryPreview
  width 100%
  height 527px
  background url('/img/gallery-bg.jpg') no-repeat
  background-size cover
  position relative

  &-link
    display flex
    align-items center
    color: $colors.white
    font-family: $AvenirMedium
    font-weight bold
    font-size 12px
    line-height 1.2
    text-transform uppercase
    position absolute
    right 30px
    top 30px
    letter-spacing 3px
    &-icon
      margin-left 22px
