.root
	display flex
	justify-content space-between
	padding 72px

.item
	width 20%
	color: $colors.black
	max-width 272px
	min-width 256px
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.2)
	font-family: $AvenirMedium

	&-img
		width 100%
		height auto
		display block

	&-bottom
		padding 30px 22px

	&-name
		font-size 20px
		margin-bottom 22px

	&-description
		font-size 12px
		letter-spacing 1px
		line-height 20px
		margin-bottom 22px

	&-price
		color: $colors.brown
		font-size 12px
		font-weight bold
		text-transform uppercase
		letter-spacing 3px
