.root
	display flex

.title
	font-size 40px
	font-family: $Oranienbaum

.description
	font-size 16px
	font-family: $AvenirMedium
	margin-top 36px

.price
	font-family: $Oranienbaum
	font-size 20px
	margin-top 36px

.btn
	border: 1px solid $colors.brown
	display flex
	align-items center
	justify-content center
	width 100%
	max-width 272px
	height 72px
	background-color transparent
	color: $colors.brown
	text-transform uppercase
	cursor pointer
	outline none
	margin-top 36px
