.root
	display flex
	padding 72px
	@media (max-width: $tablet)
		padding 10px
		flex-direction column

.hide
	display none

.item
	width 22%
	color: $colors.black
	min-width 270px
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
	font-family: $AvenirMedium
	position relative
	& + &
		margin-left 4%
	@media (max-width: $tablet)
		min-width 100%
		& + &
			margin-left 0
			margin-top 10px

	&-img
		width 100%
		height auto
		display block

	&-bottom
		padding 30px 22px

	&-name
		font-size 20px
		margin-bottom 22px
		font-family: $Oranienbaum

	&-description
		font-size 12px
		line-height 20px
		margin-bottom 22px

	&-price
		color: $colors.brown
		font-size 12px
		font-weight bold
		text-transform uppercase

	&-goToRooms
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		display block
