.Swiper
  position relative

  &-slide
    height 300px

  &-booking
    width 277px
    height 72px
    background-color: $colors.brown
    color: $colors.mainBackground
    text-transform uppercase
    border none

    position absolute
    right 0
    top 0
    cursor pointer

    font-family: $AvenirMedium
    outline none

.img
  width 100%
  height auto

