.root
	position relative

	img
		width 100%
		height auto
		display block

.animation
	font-size 12px
	font-weight bold
	text-transform uppercase
	position absolute
	left 50%
	bottom 2%
	color: $colors.white
	letter-spacing 2px
	display flex
	align-items center
	&-circle
		width 24px
		height @width
		border: 2px solid $colors.white
		margin-right 26px
		margin-left -50%
