@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('/fonts/AvenirNext-Medium.eot');
  src: local('☺'), url('/fonts/AvenirNext-Medium.woff') format('woff'), url('/fonts/AvenirNext-Medium.ttf') format('truetype'), url('/fonts/AvenirNext-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('/fonts/AvenirNext-Heavy.eot');
  src: local('☺'), url('/fonts/AvenirNext-Heavy.woff') format('woff'), url('/fonts/AvenirNext-Heavy.ttf') format('truetype'), url('/fonts/AvenirNext-Heavy.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Oranienbaum-Regular';
  src: url('/fonts/Oranienbaum-Regular.eot');
  src: local('☺'), url('/fonts/Oranienbaum-Regular.woff') format('woff'), url('/fonts/Oranienbaum-Regular.ttf') format('truetype'), url('/fonts/Oranienbaum-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

*
  margin 0
  padding 0
  box-sizing border-box
  &:before, &:after
    box-sizing border-box

// html, body
//   overflow hidden

body
  font-size 12px
  font-family 'AvenirNext-Medium'
  line-height initial // reset react-mdl style
  background-color: $colors.mainBackground

html, body, div#root
  display flex
  flex-direction column
  flex 1
  min-height 100vh

h4
  margin gutter() 0 gutter()

a
	text-decoration none
	cursor pointer
