.root
  display flex
  justify-content flex-end
  align-items center
  min-height 200px
  position relative
  flex-shrink 0
  height 35%

.spinner
  display flex
  flex-direction column
  color: $colors.black
  width 36%
  max-width 672px
  min-width 380px
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
  padding 36px
  background-color: $colors.white
  position absolute
  left 26px
  z-index 1

  h2
    font-family: $Oranienbaum
    font-size 36px

.description
  &-first
    margin-top 32px
    font-size 16px

  &-second
    font-size 12px
    color: $colors.grey
    p
      margin-top 26px

.inner
  display flex
  flex-direction column
  width 55%
  h2
    font-family: $AvenirMedium
    font-size 12px
    font-weight bold
    text-transform uppercase

.items
  display flex
  justify-content space-between
  padding 52px 72px 0 32px

.item
  display flex
  flex-direction column
  height 82px
  align-items center
  justify-content space-between
  & > span
    color: $colors.grey
