.AboutBox
  display flex
  flex-direction column
  align-items flex-end
  padding 85px 72px 75px

  h2
    font-size 12px
    line-height 1.2
    font-family: $AvenirHeavy
    color: $colors.black

  &-inner
    width 50%

  &-items
    display flex
    justify-content space-between
    margin-top 55px

  &-item
    display flex
    flex-direction column
    align-items center
    min-height 80px
    justify-content space-between
    font-size 12px
    color: $colors.grey
    &:first-child
      margin-left 32px
